{% extends 'base.html' %}
{% block content %}

<section id="detailsPage">
    <div class="wrapper">
        <div class="profilePage">
            <img src="{{ profile.image_url}}"
                 alt="This is image of {{ profile.username }}">
        </div>
        <div class="profileText">
            <h1>Username: {{ profile.username }}</h1>
            <h1>Email: {{ profile.email}}</h1>
            {% if profile.age %}
            <h1>Age: {{ profile.age }}</h1>
            {% endif %}
            <h1>Albums: {{ albums_count }}</h1>
        </div>

        <div class="actionBtn">
            <a href="{% url 'delete profile' %}" class="remove">Delete</a>
        </div>

    </div>
</section>

{% endblock %}
